<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Automating Tasks with the Unix Shell <br> <a href="lessons/shell/slides/index.html">[slides]</a> | <a href="lessons/shell/instructor_notes.pdf">[notes]</a> </td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Automating Tasks with the Unix Shell (Continued)</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      {% if site.flavor == "r" %}
      <tr>
        <td>13:15</td>
        <td>Programming and Data Management with R <br> <a href="lessons/r/1-welcome_to_r.html">[slides (1)]</a> | <a href="lessons/r/1-welcome_notes.pdf">[notes (1)]</a> <br> <a href="lessons/r/2-data_structures.html">[slides (2)]</a> | <a href="lessons/r/2-data_structures_notes.pdf">[notes (2)]</a> <br> <a href="lessons/r/3-graphics.html">[slides (3)]</a> | <a href="lessons/r/3-graphics_notes.pdf">[notes (3)]</a> </td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Programming and Data Management with R (Continued)</td>
      </tr>
      {% elsif site.flavor == "python" %}
      <tr>
        <td>13:00</td>
        <td>Building Programs with Python</td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Building Programs with Python (Continued)</td>
      </tr>
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>10:00</td>
        <td>Data Cleaning With OpenRefine <br> <a href="lessons/openrefine/slides/index.html">[slides]</a> | <a href="lessons/openrefine/instructor_notes.pdf">[notes]</a> </td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:15</td>
        <td>Data Cleaning With OpenRefine (Continued)</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:15</td>
        <td>Programming and Data Analysis with R <br> <a href="lessons/r/1_welcome_to_r.html">[slides (1)]</a> | <a href="lessons/r/1-welcome_notes.pdf">[notes (1)]</a> <br> <a href="lessons/r/2-data_structures.html">[slides (2)]</a> | <a href="lessons/r/2-data_structures_notes.pdf">[notes (2)]</a> <br> <a href="lessons/r/3-graphics.html">[slides (3)]</a> | <a href="lessons/r/3-graphics_notes.pdf">[notes (3)]</a></td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Programming and Data Analysis with R (Continued) </td>
      </tr>
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a></td>
      </tr>
      <tr>
        <td>16:40</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>